body {
    background-color: #d0e4fe;
    }
    h1 {
    color: red;
    text-align: center;
    }
    p {
    font-style: italic;
    color: green;
    border: 1px solid crimson;
    }
    .meuEstilo {
        color: violet
    }
    